{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "chrome": "58" // Adjust based on your target environment
          }
        }
      ]
    ]
  }
  