#ignore firebase information
src/sidebar/firebase.js
dist/Firebase_Config.js
node_modules
credential.js
dist/script.js
dist/admin.js
dist/faculty_script.js
dist/report.js
# code/dist/script.js
# code/dist/report.js
# code/dist/admin.js
# code/dist/faculty_script.js
